<!DOCTYPE html>
<head lang="{{ site.lang | default: "en-US" }}">
	<!-- Default stuff -->
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- MathJax -->	
	<script>
	MathJax = {
		tex: {
		inlineMath: [['$', '$'], ['\\(', '\\)']]
		}
	};
	</script>	
	<script type="text/javascript" id="MathJax-script" async
		src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
	</script>
</head>